body{
    font-family: 'Jua', sans-serif;
    background-image: url("background_img.JPG");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    content: "";
    opacity: 1;
    z-index: -1;
}

a:link, :visited{
    text-decoration-line: none;
    text-decoration: none;
    color: #775244;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    font-size: 40px;
    color: #FF9B41;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.container_all{
    height: 70vh;
    width: 70vw;
}

.container_title{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin-top: 80px;
    color: #775244;
}

.content{
    font-size: 20px;
    margin-top: 70px;
    color:#2E4339;
    
}

.first_about, .second_about{
    display: flex;
    justify-content: space-evenly;
}

.title{
    font-size:x-large;
    color: #8C946B;
}

.about_box{
    width: 50%;
}

.first_picture{
    background-image: url("jeju.jpeg");
}

.second_picture{
    background-image: url("baseball.jpeg");
}

.third_picture{
    background-image: url("bear.jpeg");
}


.picture{
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 15%;
    margin-bottom: 10px;
}

.wish_box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.picture_comment{
    width:75%
}

.contact_content{
    height: 20px;
}